<div class="header-container">
  <section class="header">
    <h1>Kulturens Puls – Din inngang til dagens inspirasjon</h1>
    <p>
      Utforsk dyptgående artikler, nyeste anmeldelser, og de heteste
      arrangementene. Vi gir deg historiene, menneskene og opplevelsene som
      setter farge på kulturlivet, fra lokale perler til internasjonale ikoner.
    </p>

    <ul class="menu">
      <li>
        <a href="/kultur">Kultur</a>
      </li>
      <li>
        <a href="/nyheter">Nyheter</a>
      </li>
      <li>
        <a href="/sport">Sport</a>
      </li>
    </ul>
  </section>
</div>
