<body>
  <!-- navigation -->
  <div class="navigation-bar">
    <a href="#">
      <img
        class="navigation-logo"
        src="resources/kulturpuls-logo.png"
        alt="logo"
      />
    </a>
  </div>
</body>
